:root {
    --fs-button: clamp(1.25rem, 1vw + 1rem, 1.875rem);
    --fs-p: clamp(3.5rem, 5vw + 2rem, 8rem);
  }

*,
*::before,
*::after  {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #121212;
    color: whitesmoke;
    font-family: Barlow, sans-serif;
}
p {
    animation: appear 0.8s ease-out;
    color: #E91E63;
    font-family: 'Barlow Condensed';
    font-size: calc(0.75 * var(--fs-p));
    font-weight: 900;
    /*letter-spacing: -0.025ch;*/
    font-kerning: normal;
    line-height: 1;
    padding: calc(0.5 * var(--fs-p));
    text-align: center;
    text-transform: uppercase;
    word-break: break-all;
}

@keyframes appear {
    from {opacity: 0;};
    to {opacity: 1;};
}

button {
    position: fixed;
    left: 50%;
    bottom: calc(2 * var(--fs-button));
    transform: translate(-50%, 0);
    
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 0 calc(1.5 * var(--fs-button)) calc(1.5 * var(--fs-button)) 0;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    font-size: calc(0.75 * var(--fs-button));
    font-weight: 200;
    letter-spacing: 0.15em;
    outline-style: none;
    padding: calc(0.5 * var(--fs-button)) 0em calc(0.5 * var(--fs-button)) calc(1.5 * var(--fs-button));
    transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    white-space: nowrap;
    transition: all 0.3s ease-out;
}

button:hover, button:active {
    padding: calc(0.5 * var(--fs-button)) 0em calc(0.5 * var(--fs-button)) calc(2 * var(--fs-button));
}

@media (orientation: portrait) {
    p {
        text-align: left;
        font-size: calc(2.25 * var(--fs-p));
    }

    button {
        font-size: calc(1 * var(--fs-button));
    }
}