:root {
  --fs-button: clamp(1.25rem, 1vw + 1rem, 1.875rem);
  --fs-h1: clamp(3.5rem, 5vw + 2rem, 8rem);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #FF69B4;
  color: white;
  display: flex;
  font-family: sans-serif;
  font-size: 100%;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  text-rendering: optimizeSpeed;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}

p {
  margin: 0;
}

/* etc. */

button {
  animation: 0.3s appear ease-out;
  font-family: 'Hanken Grotesk', sans-serif;
  letter-spacing: 0.15em;
  background-color: transparent;
  font-size: var(--fs-button);
  outline-style: none;
  border: 2px solid white;
  padding: calc(0.5 * var(--fs-button)) 0em calc(0.5 * var(--fs-button)) calc(2 * var(--fs-button));
  border-radius: 0 calc(1.5 * var(--fs-button)) calc(1.5 * var(--fs-button)) 0;
  cursor: pointer;
  color: inherit;
  white-space: nowrap;
  user-select: none;
  transform: translateX(-3px);
  transition: all 0.3s ease-out;
}

@keyframes appear {
  from {transform: translateX(calc(-2 * var(--fs-button)));}
  to {transform: translateX(-3px);}
}

button > * > * {
  transition: all 0.3s ease-out;
}

button:active {
  padding: calc(0.5 * var(--fs-button)) 0em calc(0.5 * var(--fs-button)) calc(2.25 * var(--fs-button));
  transition: all 0s ease-out;
}

button:active > .chrome > span {
  letter-spacing: calc(0.55 * var(--fs-button));
  transition: all 0s ease-out;
}

h1 {
  animation: 0.5s splash cubic-bezier(0.860, 0.000, 0.070, 1.000);
  font-family: 'Caveat', cursive;
  font-size: var(--fs-h1);
  margin: var(--fs-h1);
  text-align: end;
  transform-origin: center;
}

@keyframes splash {
  from {
    clip-path: inset(0% 100% 0% 0%);
    opacity: 0;
    transform: translateX(calc(-4 * var(--fs-h1))) scale(0.25);
  }
  to {
    clip-path: inset(0% 0% 0% 0%);
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@media (hover: hover) {
  button:hover {
    padding: calc(0.5 * var(--fs-button)) 0em calc(0.5 * var(--fs-button)) calc(2.25 * var(--fs-button));
    transition: all 0.5s ease-out;
  }
  button:hover > .chrome > span {
    letter-spacing: calc(0.55 * var(--fs-button));
    transition: all 0.5s ease-out;
  }
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --fs-button: clamp(1.25rem, 1vh + 1rem, 1.875rem);
    --fs-h1: clamp(3.5rem, 5vh + 2rem, 8rem);
  }
  html {
    writing-mode: vertical-rl;
  }
  body {
    flex-direction: row;
    transform: rotate(180deg);
  }
  button {
    border-radius: 0 0 calc(1.5 * var(--fs-button)) calc(1.5 * var(--fs-button));
    padding: calc(2 * var(--fs-button)) calc(0.5 * var(--fs-button)) 0 calc(0.5 * var(--fs-button));
    text-align: right;
    transform: translateY(-3px);
  }
  button:active {
    padding: calc(2.25 * var(--fs-button)) calc(0.5 * var(--fs-button)) 0 calc(0.5 * var(--fs-button)) ;
    transition: all 0s ease-out;
  }

  .chrome {
    writing-mode: vertical-rl;
  }

  @keyframes appear {
    from {transform: translateY(calc(-2 * var(--fs-button)));}
    to {transform: translateY(-3px);}
  }

  @keyframes splash {
    from{
      clip-path: inset(0% 0% 100% 0%);
      opacity: 0;
      transform: translateY(calc(-4 * var(--fs-h1))) scale(0.25);
    }
    to{
      clip-path: inset(0% 0% 0% 0%);
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @media (hover: hover) {
    button:hover {
      padding: calc(2.25 * var(--fs-button)) calc(0.5 * var(--fs-button)) 0em calc(0.5 * var(--fs-button));
      transition: all 0.5s ease-out;
    }
  }
}
